
@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Create", "Create", "Customer")</li>
        <li>@Html.ActionLink("Edit", "Edit", "Customer")</li>
        <li>@Html.ActionLink("Delete", "Delete", "Customer")</li>
        
    </ul>
   
</div>

